
@font-face {
    font-family: 'Boomboom';
    src: url('../font-files/Boomboom/Boomboom.eot');
    src: url('../font-files/Boomboom/Boomboom.eot?#iefix') format('embedded-opentype'),
    url('../font-files/Boomboom/Boomboom.woff') format('woff'),
    url('../font-files/Boomboom/Boomboom.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }