$f-consolas: "consolas";

.services {
    padding-top: 150px;

    &-menu {
        font-family: $f-consolas;
        font-weight: 100;

        &-active {
            color: #000;
        }

        ul {
            li {
                a {
                }
            }
        }
    }

    &-list-items {
        font-family: $f-consolas;
        &-active {
            color: #2e4914 !important;
        }
        ul {
            li {
                .link {
                    display: inline-block;
                    color: #333333;
                }

                a {
                }
            }
        }
    }

    &-box {
        padding: 30px;
        border: 1px solid #2e4914;
        border-radius: 1em;

        &__img {
            background-repeat: no-repeat !important;
            background-size: cover;
            background-position: center;
            border-radius: 1em;
            height: 700px;
            width: 100%;
        }

    }
}
