
::-webkit-scrollbar {
    width: 0px;  
    background: transparent;
}

* {
    margin: 0;
    padding: 0;
}

body {
    // height: 9000px;
    // overflow-y: hidden;
    // height: 100vh;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    outline: none;
    text-decoration: none;

    &:hover {
        outline: none;
        text-decoration: none;
    }

    &:focus {
        outline: none;
        text-decoration: none;
    }
    
    &:active {
        outline: none;
        text-decoration: none;
    }
}

input,textarea, button {

    &:hover {
        outline: none;
    }

    &:focus {
        outline: none;
    }
    
    &:active {
        outline: none;
    }
}


.all-layers {
    // padding-top: 108px;
    position: relative;
}

.tac {
    text-align: center;
}

.img-res {
    width: 100%;
    height: auto;
}

.flex-stretching {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.all-layers, #root, body, .App, .main, .asortiment, .product, .services, .services-desc {
    background: linear-gradient(180deg, #F2F5DB 0%, #FFFFFF 100%) !important;

    @media (max-width: 1400px) {
        background: linear-gradient(180deg, #F2F5DB 0%, #F2F5DB 100%) !important;
    }
}


.goods-title {
    font-size: 22px;
    margin: 15px 0 15px 21px;


    @media (max-width: 767px) {


        font-size: 16px;
        margin: 5px 0 5px 12px;
    }
}