
.form-request {
    



    @media (max-width: 1366px) and (min-width: 992px){

    }
    @media (max-width: 991px) and (min-width: 768px){
        flex-direction: column;
    }
    @media (max-width: 767px){
        flex-direction: column;
    }

}

.field {
    margin-bottom: 15px;

    &-text {
        background: #FFFFFF;
        border: 1px solid #2E4914;
        box-sizing: border-box;
        border-radius: 7px;
        padding: 15px;
        font-size: 14px;
        width: 100%;
    }

    &-textarea {
        background: #FFFFFF;
        border: 1px solid #2E4914;
        box-sizing: border-box;
        border-radius: 7px;
        padding: 15px;
        font-size: 14px;
        width: 100%;
        height: 100px;
    }
}
