$f-consolas: "consolas";

.asortiment {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    // z-index: 6;
    background: #fff;
}

.product {
    height: 100vh;
    padding-top: 150px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background: #fff;
}

.services {
    height: 100vh;
    padding-top: 150px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: #fff;
}

.product,
.services,
.asortiment {
    height: 100vh;
    padding-top: 150px;

    @media (max-width: 767px) {
        padding-top: 60px;
    }

    &-menu {
        font-family: $f-consolas;
        font-weight: 100;

        &-active {
            color: #000;
        }

        ul {
            li {
                a {
                }
            }
        }
    }

    &-list-items {
        font-family: $f-consolas;
        &-active {
            color: #2e4914 !important;
        }
        ul {
            li {
                .link {
                    display: inline-block;
                    color: #bdc3c7;
                }
            }
        }
    }

    &-box {
        padding: 30px;
        border: 1px solid #2e4914;
        border-radius: 1em;

        &__img {
            background-repeat: no-repeat !important;
            background-size: cover;
            background-position: center;
            border-radius: 1em;
            height: 400px;
            width: 100%;
        }

        &__desc {
            font-family: $f-consolas;
            overflow: hidden;

            ::-webkit-scrollbar {
                width: 0.3em;
            }

            ::-webkit-scrollbar-thumb {
                background-color: #2e491482;
            }

            ::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(230, 116, 48, 0.05);
            }

            &_scroll {
                height: 260px;
                overflow-y: scroll;
                font-size: 18px;
                line-height: 1.5;

                p {
                    font-size: 20px;
                    margin: 10px 0;
                }
            }
        }
    }
}
